# 🔐 Credentials / environment variables
.env

# 📦 Data files
Data/*.parquet

# 🧠 Trained models
Models/

# 🍎 macOS system files
.DS_Store

# 🧾 External documents
*.pdf
*.docx
*.python-version

# 🧪 Logs, intermediate results
Notebooks/*.log
Notebooks/*.csv  # if you only store outputs here, otherwise be more specific
